<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Med Cabinet!</title>
</head>
<body>
  <h3>Welcome to Med Cabinet!</h3>
    <div class="container">
        <form action="/submit" method="POST">
        <label>Effect 1:</label>
        <select name="Effects">
          <option value=" ">None</option>
          <option value="Aroused">Aroused</option>
          <option value="Creative">Creative</option>
          <option value="Energetic">Energetic</option>
          <option value="Euphoric">Euphoric</option>
          <option value="Focused">Focused</option>
          <option value="Giggly">Giggly</option>
          <option value="Happy">Happy</option>
          <option value="Happy">Happy</option>
          <option value="Hungry">Hungry</option>
          <option value="Relaxed">Relaxed</option>
          <option value="Sleepy">Sleepy</option>
          <option value="Talkative">Talkative</option>
          <option value="Tingly">Tingly</option>
          <option value="Uplifted">Uplifted</option>
          <option value="Anxious">Anxious</option>
          <option value="Dizzy">Dizzy</option>
          <option value="Dry-eyes">Dry-eyes</option>
          <option value="Dry_mouth">Dry_mouth</option>
          <option value="Headache">Headache</option>
          <option value="Paranoid">Paranoid</option>
        </select>

        <label>Effect 2:</label>
        <select name="Effects">
          <option value=" ">None</option>
          <option value="Aroused">Aroused</option>
          <option value="Creative">Creative</option>
          <option value="Energetic">Energetic</option>
          <option value="Euphoric">Euphoric</option>
          <option value="Focused">Focused</option>
          <option value="Giggly">Giggly</option>
          <option value="Happy">Happy</option>
          <option value="Happy">Happy</option>
          <option value="Hungry">Hungry</option>
          <option value="Relaxed">Relaxed</option>
          <option value="Sleepy">Sleepy</option>
          <option value="Talkative">Talkative</option>
          <option value="Tingly">Tingly</option>
          <option value="Uplifted">Uplifted</option>
          <option value="Anxious">Anxious</option>
          <option value="Dizzy">Dizzy</option>
          <option value="Dry-eyes">Dry-eyes</option>
          <option value="Dry_mouth">Dry_mouth</option>
          <option value="Headache">Headache</option>
          <option value="Paranoid">Paranoid</option>
        </select>

        <label>Effect 3:</label>
        <select name="Effects">
            <option value="Aroused">Aroused</option>
            <option value="Creative">Creative</option>
            <option value="Energetic">Energetic</option>
            <option value="Euphoric">Euphoric</option>
            <option value="Focused">Focused</option>
            <option value="Giggly">Giggly</option>
            <option value="Happy">Happy</option>
            <option value="Happy">Happy</option>
            <option value="Hungry">Hungry</option>
            <option value="Relaxed">Relaxed</option>
            <option value="Sleepy">Sleepy</option>
            <option value="Talkative">Talkative</option>
            <option value="Tingly">Tingly</option>
            <option value="Uplifted">Uplifted</option>
            <option value="Anxious">Anxious</option>
            <option value="Dizzy">Dizzy</option>
            <option value="Dry-eyes">Dry-eyes</option>
            <option value="Dry_mouth">Dry_mouth</option>
            <option value="Headache">Headache</option>
            <option value="Paranoid">Paranoid</option>
        </select>

        <label>Effect 4:</label>
        <select name="Effects">
          <option value=" ">None</option>
          <option value="Aroused">Aroused</option>
          <option value="Creative">Creative</option>
          <option value="Energetic">Energetic</option>
          <option value="Euphoric">Euphoric</option>
          <option value="Focused">Focused</option>
          <option value="Giggly">Giggly</option>
          <option value="Happy">Happy</option>
          <option value="Happy">Happy</option>
          <option value="Hungry">Hungry</option>
          <option value="Relaxed">Relaxed</option>
          <option value="Sleepy">Sleepy</option>
          <option value="Talkative">Talkative</option>
          <option value="Tingly">Tingly</option>
          <option value="Uplifted">Uplifted</option>
          <option value="Anxious">Anxious</option>
          <option value="Dizzy">Dizzy</option>
          <option value="Dry-eyes">Dry-eyes</option>
          <option value="Dry_mouth">Dry_mouth</option>
          <option value="Headache">Headache</option>
          <option value="Paranoid">Paranoid</option>
        </select>

        <label>Effect 5:</label>
        <select name="Effects">
            <option value="Aroused">Aroused</option>
            <option value="Creative">Creative</option>
            <option value="Energetic">Energetic</option>
            <option value="Euphoric">Euphoric</option>
            <option value="Focused">Focused</option>
            <option value="Giggly">Giggly</option>
            <option value="Happy">Happy</option>
            <option value="Happy">Happy</option>
            <option value="Hungry">Hungry</option>
            <option value="Relaxed">Relaxed</option>
            <option value="Sleepy">Sleepy</option>
            <option value="Talkative">Talkative</option>
            <option value="Tingly">Tingly</option>
            <option value="Uplifted">Uplifted</option>
            <option value="Anxious">Anxious</option>
            <option value="Dizzy">Dizzy</option>
            <option value="Dry-eyes">Dry-eyes</option>
            <option value="Dry_mouth">Dry_mouth</option>
            <option value="Headache">Headache</option>
            <option value="Paranoid">Paranoid</option>
        </select>
        <button>Submit</button>   

        </form>> 

    </div>

</body>
</html>