<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Med Cabinet!</title>
</head>
<body>
  <h3>Welcome to Med Cabinet!</h3>
    <div class="container">
        <form action="/submit" method="POST">
        <div class = 'form-group'>
        <h3>Effects 1-5</h3>>
        <input 
        type = 'text'
        name = 'Effects'
        placeholder="Effects 1-5"
        />          
        </div>

        <button>Submit</button>   

        </form>

    </div>

</body>
</html>